<p>
  This is to notify you that <%= @circle['circle_name'] %> has started its pairing draw. You have drawn the codename: <%= @monito_codename %>! Don't forget to buy your gift(s) worth around <%= @circle['budget'] %> for him/her before the exchange date (<%= @circle['exchange_date'] %>). See you there!
</p>

<br>
<br>

<small>
  Sent @ (<%= @date %>) by monito-emailer.
</small>
