<p>
  This is to notify you that <%= @circle['circle_name'] %> has started its pairing draw. You have drawn the codename: <%= @monito_codename %>! Don't forget to buy your gift(s) worth around <%= @circle['budget'] %> for him/her before the exchange date (<%= @circle['exchange_date'] %>). See you there!
</p>

<p>
  <%= @events_title %>
  <% @user_events.each do |event|%>
    <% if event.desc %>
      <p>
        <span> <%= event.desc %> </span> &nbsp;
        <span> (<%= event.exchange_date %>) </span>
      </p>
    <% end %>
  <% end %>
</p>

<p>
  For a little "hint" on what to give on the final exchange date, we provided your monito's/monita's wishlist:
<% @wishlist.each_with_index do |wish, i| %>
  <p><%= (i+1).to_s + '. ' %><%= wish %></p>
<% end %>

<br>

<small>
  Sent @ (<%= @date %>) by monito-emailer.
</small>
